<tui-loader [overlay]="true" [showLoader]="loading">
  <div class="container">
    <form
      (ngSubmit)="submit()"
      tuiAppearance="floating"
      tuiCardLarge
      tuiForm="m"
      [formGroup]="form"
      [style.max-width.em]="32"
      [style.grid-column]="'2 / span 7'"
      [style.margin-top.rem]="1">
      <header tuiHeader>
        <h2 tuiTitle>Connexion admin</h2>
      </header>
      <tui-textfield>
        <label tuiLabel for="username">username</label>
        <input formControlName="username" tuiTextfield />
      </tui-textfield>
      <tui-error
        formControlName="username"
        [error]="['required'] | tuiFieldError | async" />
      <ng-container>
        <tui-textfield>
          <label tuiLabel for="password">Mot de passe</label>
          <input formControlName="password" tuiTextfield type="password" />
        </tui-textfield>
        <tui-error
          formControlName="password"
          [error]="['required'] | tuiFieldError | async" />
      </ng-container>
      <footer>
        <button appearance="secondary" tuiButton type="button">Cancel</button>
        <button tuiButton type="submit">Submit</button>
      </footer>
    </form>
  </div>
</tui-loader>
